{% comment %}
  【商品詳細】立札・カード
{% endcomment %}

<div class="product__content__panel">
  <section class="product__content__panel__box">
    <h2 class="product__content__panel__title">立札</h3>
    <p>立札は胡蝶蘭に同梱し配送致します。<br>大きさは統一ではないため、イメージとしてご確認ください。</p>
    <img src="https://cdn.shopify.com/s/files/1/0724/3035/4681/files/sample-plate.png?v=1734687690" alt="立札のサンプル" class="product__content__panel__sampleimg">

    <div class="product__content__panel__block">
      <h3 class="product__content__panel__titlesub">立札タイプ</h3>
      <p class="product__content__panel__block__text">選択タイプごとに入力欄の内容が変わります。<br>文字数が多い場合、アルファベット表記の場合などは、横書き対応させていただくことがあります。</p>

      <div class="product__content__panel__acc">
        <div class="product__content__panel__acc__title">祝い花</div>
        <div class="product__content__panel__acc__cnt">
          <ul class="product__content__panel__acc__sample">
            <li>
              <p class="product__content__panel__acc__sample--title">▼会社 + 代表</p>
              <ul class="product__content__panel__acc__samplelist">
                <li>
                  <img src="https://cdn.shopify.com/s/files/1/0724/3035/4681/files/message_pattern6.jpg?v=1733447124" alt="立札のサンプル">
                </li>
                <li>
                  <img src="https://cdn.shopify.com/s/files/1/0724/3035/4681/files/message_pattern6.jpg?v=1733447124" alt="立札のサンプル">
                  <p>相手先名あり</p>
                </li>
                <li>
                  <img src="https://cdn.shopify.com/s/files/1/0724/3035/4681/files/message_pattern6.jpg?v=1733447124" alt="立札のサンプル">
                  <p>相手先名あり(社名のみ)</p>
                </li>
              </ul>
            </li>

            <li>
              <p class="product__content__panel__acc__sample--title">▼会社 + 代表複数</p>
              <ul class="product__content__panel__acc__samplelist">
                <li>
                  <img src="https://cdn.shopify.com/s/files/1/0724/3035/4681/files/message_pattern6.jpg?v=1733447124" alt="立札のサンプル">
                </li>
                <li>
                  <img src="https://cdn.shopify.com/s/files/1/0724/3035/4681/files/message_pattern6.jpg?v=1733447124" alt="立札のサンプル">
                  <p>相手先名あり</p>
                </li>
              </ul>
            </li>

            <li>
              <p class="product__content__panel__acc__sample--title">▼複数社名＋代表</p>
              <ul class="product__content__panel__acc__samplelist">
                <li>
                  <img src="https://cdn.shopify.com/s/files/1/0724/3035/4681/files/message_pattern6.jpg?v=1733447124" alt="立札のサンプル">
                </li>
                <li>
                  <img src="https://cdn.shopify.com/s/files/1/0724/3035/4681/files/message_pattern6.jpg?v=1733447124" alt="立札のサンプル">
                  <p>相手先名あり</p>
                </li>
              </ul>
            </li>

            <li>
              <p class="product__content__panel__acc__sample--title">▼その他</p>
              <ul class="product__content__panel__acc__samplelist">
                <li>
                  <img src="https://cdn.shopify.com/s/files/1/0724/3035/4681/files/message_pattern6.jpg?v=1733447124" alt="立札のサンプル">
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <div class="product__content__panel__acc__title">供花</div>
        <div class="product__content__panel__acc__cnt">
          <ul class="product__content__panel__acc__sample">
            <li>
              <p class="product__content__panel__acc__sample--title">▼会社</p>
              <ul class="product__content__panel__acc__samplelist">
                <li>
                  <img src="https://cdn.shopify.com/s/files/1/0724/3035/4681/files/message_pattern6.jpg?v=1733447124" alt="立札のサンプル">
                </li>
              </ul>
            </li>

            <li>
              <p class="product__content__panel__acc__sample--title">▼会社 + 代表</p>
              <ul class="product__content__panel__acc__samplelist">
                <li>
                  <img src="https://cdn.shopify.com/s/files/1/0724/3035/4681/files/message_pattern6.jpg?v=1733447124" alt="立札のサンプル">
                  <p>会社＋代表</p>
                </li>
                <li>
                  <img src="https://cdn.shopify.com/s/files/1/0724/3035/4681/files/message_pattern6.jpg?v=1733447124" alt="立札のサンプル">
                  <p>会社＋代表複数</p>
                </li>
                <li>
                  <img src="https://cdn.shopify.com/s/files/1/0724/3035/4681/files/message_pattern6.jpg?v=1733447124" alt="立札のサンプル">
                  <p>複数社名＋代表</p>
                </li>
              </ul>
            </li>

            <li>
              <p class="product__content__panel__acc__sample--title">▼その他</p>
              <ul class="product__content__panel__acc__samplelist">
                <li>
                  <img src="https://cdn.shopify.com/s/files/1/0724/3035/4681/files/message_pattern6.jpg?v=1733447124" alt="立札のサンプル">
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="product__content__panel__box">
    <h2 class="product__content__panel__title">カード</h3>
    <p>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミー</p>
    <img src="https://cdn.shopify.com/s/files/1/0724/3035/4681/files/sample-plate.png?v=1734687690" alt="カードのサンプル" class="product__content__panel__sampleimg">
  </section>
</div>

<script>
document.addEventListener("DOMContentLoaded", () => {
  const titles = document.querySelectorAll(".product__content__panel__acc__title");

  titles.forEach((title) => {
    title.addEventListener("click", () => {
      const content = title.nextElementSibling;

      if (content.classList.contains("open")) {
        // 開いている場合は閉じる
        content.classList.remove("open");
        title.classList.remove("open");
      } else {
        // 現在のセクションを開く
        content.classList.add("open");
        title.classList.add("open");
      }
    });
  });
});

</script>