{% comment %}
  【商品詳細】商品説明
{% endcomment %}

<ul class="product__content__collection">
  {% for collections in product.collections %}
    {% if collections.metafields.custom.col_description == true %}
      <li><a href="{{collections.url}}">{{collections.title}}</a></li>
    {% endif %}
  {% endfor %}
</ul>

<div class="product__description rte quick-add-hidden product__content__description" {{ block.shopify_attributes }}>
  {{ product.description }}
</div>