{% comment %}
  佐々木テスト中

  ローディング
{% endcomment %}

<div id="loading">
  <p>佐々木ローディングテスト中<br>トップページのみ発火</p>
  <div class="spinner"></div>
</div>


 <style>
   /* ローディング背景 */
#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background: var(--c-sub);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999999;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

/* ローディングアニメーション */
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ddd;
  border-top: 5px solid var(--c-main); /* ローディングカラー */
  border-radius: 50%;
  animation: spin 1s linear infinite;
    display: block !important;
}

/* スピンアニメーション */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* ローディング非表示用クラス */
#loading.hide {
  opacity: 0;
  visibility: hidden;
}

 </style>

 <script>
window.addEventListener('load', function () {
  // トップページの場合のみ実行
    // ローディングアニメーションを非表示にする関数
    function loaderClose() {
      const loading = document.getElementById('loading');
      loading.classList.add('hide'); // フェードアウトアニメーション
      setTimeout(() => {
        loading.style.display = 'none'; // 完全非表示
      }, 500); // CSSアニメーション時間と同期
    }

    // 1秒後にローディング終了
    setTimeout(loaderClose, 1000);
});


 </script>
