{% comment %}
  【商品詳細】最短お届け日
{% endcomment %}

<div class="product__sd sp__inner">
  <h2 class="product__sd__title">最短お届け日</h2>
  <div class="product__sd__box">
    <div class="product__sd__datebox">
      <div class="product__sd__date">4月15日(月)</div>
      <fieldset class="form__box form__select product__sd__select">
        <div class="form__selectbox">
          <select>
        <option>北海道</option>
        <option selected="">東京都</option>
        <option>千葉県</option>
          </select>
        </div>
      </fieldset>
    </div>
    {% comment %} 特定の都道府県のみ表示 {% endcomment %}
    <p class="product__sd__date__attention">北海道の為、2,000円の追加料金が発生します。</p>
    {% comment %} ./特定の都道府県のみ表示 {% endcomment %}
  </div>

  <hr>

  <ul class="product__sd__info">
    {% comment %} お急ぎ便対象の商品のみ表示 {% endcomment %}
      <li class="expedited"><a href="#">お急ぎ便</a>対象商品 (+2,000円)</li>
    {% comment %} ./お急ぎ便対象の商品のみ表示 {% endcomment %}

    {% comment %} 配達可能地域 に入力がある場合のみ表示 {% endcomment %}
    {% if product.metafields.custom.p_deliveryarea != blank %}
      <li class="area"><a href="#product__deliveryarea">配達可能地域</a>制限あり</li>
    {% endif %}
  </ul>

  <ul class="attention">
    <li>在庫状況によっては、お届け日が変更となる場合がございます。<br>ご了承ください。</li>
  </ul>
</div>


<style>
  /* セレクトボックス */
.c__selectbox {
  display: inline-flex;
  align-items: center;
  position: relative;
  width: 100%;
  border: 1px solid #D6D6D6;
  border-radius: 3px;
  background: #fff;
}

.c__selectbox::after {
  position: absolute;
  right: 15px;
  width: 10px;
  height: 7px;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  content: '';
  pointer-events: none;
  background: #333;
}

.c__selectbox select {
  appearance: none;
  width: 100%;
  height: 32px;
  padding: 4px 8px;
  padding-right: 30px;
  border: none;
  cursor: pointer;
}
</style>