{% comment %}
  【商品詳細】購入へ進む 「」 
{% endcomment %}

{% comment %}
----- 開発用 -----
モーダルを開いた状態にしておきたいときは、下記をこの{％ endcomment ％}の下に追記してください。

※XXXには該当の商品URLを記載
{% if request.path  == '/products/XXX' %}
<style>
#platemodal_cnt {
  display: block!important;
}
</style>
{% endif %}
{% endcomment %}


 
<div id="platemodal_cnt" class="product__pbuy__modal">
  <div class="product__pbuy__modal__cnt">
    <span class="product__pbuy__modal__closebtn js-closebtn"></span>
    <div>
      <div class="product__pbuy__modal__titlebox">
        <p class="product__pbuy__modal__title">立札情報</p>
        <p>ご登録いただいている立札情報の一覧です。<br>反映させたい立札情報をご選択ください。</p>
      </div>
      <p class="product__pbuy__modal__count">10件(最大10件まで)</p>

      {% comment %} ①登録件数が0の時 {% endcomment %}
      <div class="product__pbuy__modal__listbox product__pbuy__modal__listbox--none" style="display: none;">
        <p>現在登録されている立札情報はございません。</p>
      </div>

      {% comment %} ②未ログインの時 {% endcomment %}
      <div class="product__pbuy__modal__listbox product__pbuy__modal__listbox--none" style="display: none;">
        <p>ログイン中のみ使用できます。</p>
        <a href="/account" class="btns btns--default btns--arrow">ログイン</a>
      </div>
      
      {% comment %} ③登録データがある時 {% endcomment %}
      <div class="product__pbuy__modal__listbox product__pbuy__modal__listbox--scroll">
        <ul class="product__pbuy__modal__list">
          <li>
            <div class="product__pbuy__modal__name"><span>送り主 + 相手先名</span>会社 + 代表複数</div>
            <div>
              <p>①祝</p>
              <p>②株式会社贈答の窓口</p>
              <p>③代表取締役社長 千代田一郎</p>
              <p>④株式会社オークネット</p>
              <p>⑤代表取締役会長 青山一郎</p>
              <p>⑥代表取締役社長 青山二郎</p>
            </div>
            <div class="product__pbuy__modal__btnbox">
              <input type="button" class="btns btns--default product__pbuy__modal__btn" value="反映">
              <p class="product__pbuy__modal__lastdate">2024年12月12日最終更新</p>
            </div>
          </li>
    
          <li>
            <div class="product__pbuy__modal__name">会社 + 代表複数</div>
            <div>
              <p>①祝</p>
              <p>②株式会社贈答の窓口</p>
              <p>③代表取締役社長 千代田一郎</p>
            </div>
            <div class="product__pbuy__modal__btnbox">
              <input type="button" class="btns btns--default product__pbuy__modal__btn" value="反映">
              <p class="product__pbuy__modal__lastdate">2024年12月12日最終更新</p>
            </div>
          </li>
    
          <li>
            <div class="product__pbuy__modal__name"><span>送り主 + 相手先名</span>会社 + 代表複数</div>
            <div>
              <p>①祝</p>
              <p>②株式会社贈答の窓口</p>
              <p>③代表取締役社長 千代田一郎</p>
              <p>④株式会社オークネット</p>
              <p>⑤代表取締役会長 青山一郎</p>
              <p>⑥代表取締役社長 青山二郎</p>
            </div>
            <div class="product__pbuy__modal__btnbox">
              <input type="button" class="btns btns--default product__pbuy__modal__btn" value="反映">
              <p class="product__pbuy__modal__lastdate">2024年12月12日最終更新</p>
            </div>
          </li>
    
          <li>
            <div class="product__pbuy__modal__name"><span>送り主 + 相手先名</span>会社 + 代表複数</div>
            <div>
              <p>①祝</p>
              <p>②株式会社贈答の窓口</p>
              <p>③代表取締役社長 千代田一郎</p>
              <p>④株式会社オークネット</p>
              <p>⑤代表取締役会長 青山一郎</p>
              <p>⑥代表取締役社長 青山二郎</p>
            </div>
            <div class="product__pbuy__modal__btnbox">
              <input type="button" class="btns btns--default product__pbuy__modal__btn" value="反映">
              <p class="product__pbuy__modal__lastdate">2024年12月12日最終更新</p>
            </div>
          </li>
    
          <li>
            <div class="product__pbuy__modal__name"><span>送り主 + 相手先名</span>会社 + 代表複数</div>
            <div>
              <p>①祝</p>
              <p>②株式会社贈答の窓口</p>
              <p>③代表取締役社長 千代田一郎</p>
              <p>④株式会社オークネット</p>
              <p>⑤代表取締役会長 青山一郎</p>
              <p>⑥代表取締役社長 青山二郎</p>
            </div>
            <div class="product__pbuy__modal__btnbox">
              <input type="button" class="btns btns--default product__pbuy__modal__btn" value="反映">
              <p class="product__pbuy__modal__lastdate">2024年12月12日最終更新</p>
            </div>
          </li>
    
          <li>
            <div class="product__pbuy__modal__name"><span>送り主 + 相手先名</span>会社 + 代表複数</div>
            <div>
              <p>①祝</p>
              <p>②株式会社贈答の窓口</p>
              <p>③代表取締役社長 千代田一郎</p>
              <p>④株式会社オークネット</p>
              <p>⑤代表取締役会長 青山一郎</p>
              <p>⑥代表取締役社長 青山二郎</p>
            </div>
            <div class="product__pbuy__modal__btnbox">
              <input type="button" class="btns btns--default product__pbuy__modal__btn" value="反映">
              <p class="product__pbuy__modal__lastdate">2024年12月12日最終更新</p>
            </div>
          </li>  
        </ul>
      </div>
      
      <ul class="product__pbuy__modal__closebtn_attention attention">
        <li>削除・編集は、<a href="/account/addresses" target="_blank" class="link">マイページ</a>より行なってください。</li>
      </ul>
    </div> 
  </div><!-- ./product__pbuy__modal__cnt -->
</div><!-- ./product__pbuy__modal -->

<script>
// -----------------------
// モーダル
// -----------------------
const modal = document.getElementById("platemodal_cnt");
const openModalButton = document.getElementById("platemodal");
const closeModalButton = document.querySelector(".js-closebtn");
// モーダルを <body> 直下に移動
document.body.appendChild(modal);

function openModal() {
  modal.style.display = "block";
  document.body.classList.add("body-fixed");
}

function closeModal() {
  modal.style.display = "none";
  document.body.classList.remove("body-fixed");
}

// モーダル外クリックで閉じる
function clickOutside(event) {
  if (event.target === modal) {
    closeModal();
  }
}

openModalButton.addEventListener("click", openModal);
closeModalButton.addEventListener("click", closeModal);
window.addEventListener("click", clickOutside);
</script>
<script>
document.addEventListener("DOMContentLoaded", () => {
  const listbox = document.querySelector(".product__pbuy__modal__listbox--scroll");
  const list = document.querySelector(".product__pbuy__modal__list");

  // カスタムスクロールバーを作成
  const scrollbar = document.createElement("div");
  scrollbar.classList.add("custom-scrollbar");

  const thumb = document.createElement("div");
  thumb.classList.add("custom-scrollbar-thumb");
  scrollbar.appendChild(thumb);

  listbox.appendChild(scrollbar);

  // スクロールバーの位置とサイズを更新する関数
  const updateScrollbar = () => {
    const scrollHeight = list.scrollHeight; // 全体の高さ
    const clientHeight = list.clientHeight; // 表示領域の高さ
    const scrollTop = list.scrollTop; // 現在のスクロール位置

    // スライダーの高さと位置を計算
    const thumbHeight = (clientHeight / scrollHeight) * 100;
    const thumbPosition = (scrollTop / scrollHeight) * 100;

    thumb.style.height = `${thumbHeight}%`;
    thumb.style.top = `${thumbPosition}%`;
  };

  // スクロール時にスライダーの位置を更新
  list.addEventListener("scroll", updateScrollbar);

  // 初期位置を設定
  updateScrollbar();
});
</script>


