{% schema %}
{
  "name":"calendar",
  "settings": [
  ],
  "presets": [
    {
      "name": "calendar" 
    }
  ]
}
{% endschema %}
<div class="calendar">
営業日カレンダー<br>
<div id="calendar"></div>
<div id="calendar-next"></div>
</div>
<style>
  .calendar{
    margin:30px auto;
    text-align:center;
  }
</style>