{% comment %}
  【サイドバー】営業日カレンダー
{% endcomment %}


<p class="sidebar__calendar__title">営業日カレンダー</p>
<div class="sidebar__calendar__box">
  <div class="sidebar__calendar__cal">
    <div id="calendar"></div>
    <div id="calendar-next"></div>
    <ul class="sidebar__calendar__cal--rule">
      <li class="today">今日</li>
      <li class="current">休業日</li>
    </ul>
  </div>
  <div class="sidebar__calendar__cnt">{{ section.settings.sidebar__calendar_text | newline_to_br }}</div>
</div>

{% schema %}
{
  "name": "営業日カレンダー",
  "class": "sidebar__calendar",
  "disabled_on": {
    "groups": ["header","footer","aside"]
  },
  "settings": [
    {
      "type": "textarea",
      "id": "sidebar__calendar_text",
      "label": "テキスト",
    },
  ],
  "presets": [
    {
      "name": "営業日カレンダー"
    }
  ]
}
{% endschema %}

