{%  comment %}
  [マイページ]立札情報
{% endcomment %}

<div class="account myPlate">
  {% render 'custom-mypage-head',
    title: '立札情報',
    subtitle: 'Sign on a Post Information'
  %}

  <div class="form myplate__area">
    {% comment %}上部に表示するのエラー{% endcomment %}
    <ul class="reset--list" style="display: none;">
      <li class="form__box__errorbox">削除できませんでした。ご確認のうえ、再度お試しください。</li>
      <li class="form__box__errorbox">ダミーテキストダミーテキストダミーテキストダミーテキスト</li>
    </ul>

    <p>任意の立札情報を10件までご登録いただけます。</p>

    <p class="my__num">8件(最大10件まで)</p>

    <ul class="reset--list my__list myplate__list">
      <li>
        <div class="myplate__listbox">
          <div>
            <div class="myplate__label">贈り花＜祝い花＞</div>
            <div class="myplate__cat">送り主 + 相手先名</div>
            <div class="myplate__name">会社 + 代表複数</div>
          </div>
          <div class="myplate__cnt">
            <p>①祝</p>
            <p>②株式会社贈答の窓口</p>
            <p>③代表取締役社長 千代田一郎</p>
            <p>④株式会社オークネット</p>
            <p>⑤代表取締役会長 青山一郎</p>
            <p>⑥代表取締役社長 青山二郎</p>
          </div>
          <div>
            <div class="my__listbtn">
              <div class="btns btns--default js-accordion">編集</div>
              <button type="button" class="btns btns--outline">削除</button>
            </div>
            <p class="myplate__lastdate">2024年12月12日最終更新</p>
          </div>
        </div><!-- ./myplate__listbox -->

        <div class="js-accordion-cnt">
          <div class="my__formbox myplate__formbox form">
            <!-- 入力サンプル -->
            <div class="form__sample">
              <img src="https://cdn.shopify.com/s/files/1/0724/3035/4681/files/message_pattern6.jpg?v=1733447124" alt="立札のサンプル">
              <div class="form__sample__cnt">
                <div class="form__sample__name"><span>送り主のみ</span>会社 + 代表複数</div>
                <p>①御祝の言葉</p>
                <p>②会社名</p>
                <p>③役職名・氏名(1)</p>
                <p>④役職名・氏名(2)</p>
              </div>
            </div><!-- ./form__sample -->
            <!-- ./入力サンプル -->

            <fieldset class="form__box form__radio">
              <legend class="form__title">①御祝の言葉</legend>
              <div class="form__radio__box">
                <label>
                  <input type="radio" name="radio5" checked>
                  <div class="form__radio__content">
                    <img class="form__radio--img" src="https://cdn.shopify.com/s/files/1/0724/3035/4681/files/message_pattern6.jpg?v=1733447124" alt="立札のサンプル">
                    <p>祝</p>
                  </div>
                </label>
              
                <label class="radio-card">
                  <input type="radio" name="radio5" />
                  <div class="form__radio__content">
                    <img class="form__radio--img" src="https://cdn.shopify.com/s/files/1/0724/3035/4681/files/message_pattern6.jpg?v=1733447124" alt="立札のサンプル">
                    <p>御祝</p>
                  </div>
                </label>
              
                <label class="radio-card">
                  <input type="radio" name="radio5" />
                  <div class="form__radio__content">
                    <p>その他</p>
                  </div>
                </label>
              </div>
            </fieldset>

            <fieldset class="form__box form__text">
              <legend class="form__title">▼その他の場合は、具体的にお書き下さい。（全角XX文字）</legend>
              <input type="text" />
            </fieldset>

            <fieldset class="form__box form__text">
              <legend class="form__title">②【相手先】会社名</legend>
              <input type="text" class="form__box__error">
              <p class="form__box__errortext">「XX」を入力してください。</p>
              <p class="form__box__errortext">「YY」を入力してください。</p>      
            </fieldset>

            <fieldset class="form__box form__text">
              <legend class="form__title">③【相手先】役職名・氏名</legend>
              <input type="text">
            </fieldset>

            <fieldset class="form__box form__text">
              <legend class="form__title">④会社名</legend>
              <input type="text">
            </fieldset>

            <fieldset class="form__box form__text">
              <legend class="form__title">⑤役職名・氏名(1)</legend>
              <input type="text">
            </fieldset>

            <fieldset class="form__box form__text">
              <legend class="form__title">⑥役職名・氏名(2)</legend>
              <input type="text">
            </fieldset>

            <div class="my__formbox__btnbox">
              <button class="btns btns--default">更新</button>
              <button class="btns btns--outline js-accordion-close">キャンセル</button>
            </div>
          </div>
        </div><!-- ./js-accordion-cnt -->
      </li>

      <li>
        <div class="myplate__listbox">
          <div>
            <div class="myplate__label">贈り花＜供花＞</div>
            <div class="myplate__name">会社 + 代表</div>
          </div>
          <div class="myplate__cnt">
            <p>①祝</p>
            <p>②株式会社贈答の窓口</p>
            <p>③代表取締役社長 千代田一郎</p>
          </div>
          <div>
            <div class="my__listbtn">
              <div class="btns btns--default js-accordion">編集</div>
              <button type="button" class="btns btns--outline">削除</button>
            </div>
            <p class="myplate__lastdate">2024年12月12日最終更新</p>
          </div>
        </div><!-- ./myplate__listbox -->

        <div class="js-accordion-cnt">
          <div class="my__formbox myplate__formbox form">
            <!-- 入力サンプル -->
            <div class="form__sample">
              <img src="https://cdn.shopify.com/s/files/1/0724/3035/4681/files/message_pattern6.jpg?v=1733447124" alt="立札のサンプル">
              <div class="form__sample__cnt">
                <div class="form__sample__name">会社 + 代表</div>
                <p>①会社名</p>
                <p>②役職名・氏名</p>
              </div>
            </div><!-- ./form__sample -->
            <!-- ./入力サンプル -->

            <fieldset class="form__box form__text">
              <legend class="form__title">①会社名</legend>
              <input type="text">
            </fieldset>

            <fieldset class="form__box form__text">
              <legend class="form__title">②役職名・氏名</legend>
              <input type="text">
            </fieldset>

            <div class="my__formbox__btnbox">
              <button class="btns btns--default">更新</button>
              <button class="btns btns--outline js-accordion-close">キャンセル</button>
            </div>
          </div>
        </div><!-- ./js-accordion-cnt -->
      </li>

      <li>
        <div class="myplate__listbox">
          <div>
            <div class="myplate__label">贈り花＜祝い花＞</div>
            <div class="myplate__cat">送り主 + 相手先名</div>
            <div class="myplate__name">会社 + 代表複数</div>
          </div>
          <div class="myplate__cnt">
            <p>①祝</p>
            <p>②株式会社贈答の窓口</p>
            <p>③代表取締役社長 千代田一郎</p>
            <p>④株式会社オークネット</p>
            <p>⑤代表取締役会長 青山一郎</p>
            <p>⑥代表取締役社長 青山二郎</p>
          </div>
          <div>
            <div class="my__listbtn">
              <div class="btns btns--default js-accordion">編集</div>
              <button type="button" class="btns btns--outline">削除</button>
            </div>
            <p class="myplate__lastdate">2024年12月12日最終更新</p>
          </div>
        </div><!-- ./myplate__listbox -->

        <div class="js-accordion-cnt">
          <div class="my__formbox myplate__formbox form">
            <!-- 入力サンプル -->
            <div class="form__sample">
              <img src="https://cdn.shopify.com/s/files/1/0724/3035/4681/files/message_pattern6.jpg?v=1733447124" alt="立札のサンプル">
              <div class="form__sample__cnt">
                <div class="form__sample__name"><span>送り主のみ</span>会社 + 代表複数</div>
                <p>①御祝の言葉</p>
                <p>②会社名</p>
                <p>③役職名・氏名(1)</p>
                <p>④役職名・氏名(2)</p>
              </div>
            </div><!-- ./form__sample -->
            <!-- ./入力サンプル -->

            <fieldset class="form__box form__radio">
              <legend class="form__title">①御祝の言葉</legend>
              <div class="form__radio__box">
                <label>
                  <input type="radio" name="radio5" checked>
                  <div class="form__radio__content">
                    <img class="form__radio--img" src="https://cdn.shopify.com/s/files/1/0724/3035/4681/files/message_pattern6.jpg?v=1733447124" alt="立札のサンプル">
                    <p>祝</p>
                  </div>
                </label>
              
                <label class="radio-card">
                  <input type="radio" name="radio5" />
                  <div class="form__radio__content">
                    <img class="form__radio--img" src="https://cdn.shopify.com/s/files/1/0724/3035/4681/files/message_pattern6.jpg?v=1733447124" alt="立札のサンプル">
                    <p>御祝</p>
                  </div>
                </label>
              
                <label class="radio-card">
                  <input type="radio" name="radio5" />
                  <div class="form__radio__content">
                    <p>その他</p>
                  </div>
                </label>
              </div>
            </fieldset>

            <fieldset class="form__box form__text">
              <legend class="form__title">▼その他の場合は、具体的にお書き下さい。（全角XX文字）</legend>
              <input type="text" />
            </fieldset>

            <fieldset class="form__box form__text">
              <legend class="form__title">②【相手先】会社名</legend>
              <input type="text" class="form__box__error">
              <p class="form__box__errortext">「XX」を入力してください。</p>
              <p class="form__box__errortext">「YY」を入力してください。</p>      
            </fieldset>

            <fieldset class="form__box form__text">
              <legend class="form__title">③【相手先】役職名・氏名</legend>
              <input type="text">
            </fieldset>

            <fieldset class="form__box form__text">
              <legend class="form__title">④会社名</legend>
              <input type="text">
            </fieldset>

            <fieldset class="form__box form__text">
              <legend class="form__title">⑤役職名・氏名(1)</legend>
              <input type="text">
            </fieldset>

            <fieldset class="form__box form__text">
              <legend class="form__title">⑥役職名・氏名(2)</legend>
              <input type="text">
            </fieldset>

            <div class="my__formbox__btnbox">
              <button class="btns btns--default">更新</button>
              <button class="btns btns--outline js-accordion-close">キャンセル</button>
            </div>
          </div>
        </div><!-- ./js-accordion-cnt -->
      </li>
    </ul><!-- ./myplate__list -->
  </div><!-- ./myplate__area -->  
</div>

{% javascript %}
// アコーディオン
// document.addEventListener("DOMContentLoaded", function () {
//   const accordionButtons = document.querySelectorAll(".js-accordion");
//   const closeButtons = document.querySelectorAll('.js-accordion-close');

//   accordionButtons.forEach(button => {
//     button.addEventListener("click", function () {
//       const accordionContent = this.closest(".myplate__listbox").nextElementSibling;

//       if (accordionContent) {
//         if (accordionContent.style.maxHeight) {
//           accordionContent.style.maxHeight = null;
//         } else {
//           accordionContent.style.maxHeight = accordionContent.scrollHeight + "px";
//         }
//       }
//     });
//   });

//     // アコーディオンを閉じる処理
//   closeButtons.forEach(button => {
//     button.addEventListener('click', function () {
//       const content = this.closest('li').querySelector('.js-accordion-cnt');
//       if (content) {
//         content.style.maxHeight = null;
//       }
//     });
//   });
// });
{% endjavascript %}

{% schema %}
{
  "name": "立札情報",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}