{% comment %}
-------------------------------------------
イベントリマインダー
-------------------------------------------
{% endcomment %}

{% comment %}
読み込みを要調整
{% endcomment %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="{{ 'event-reminder.js' | asset_url }}" defer="defer"></script>

<div class="account myReminder">
  {% render 'custom-mypage-head',
    title: 'イベントリマインダー',
    subtitle: 'Event Reminder'
  %}

  <div class="form myreminder__area">
    {% comment %}上部に表示するのエラー{% endcomment %}
    <ul class="reset--list" style="display: none;">
      <li class="form__box__errorbox">削除できませんでした。ご確認のうえ、再度お試しください。</li>
      <li class="form__box__errorbox">ダミーテキストダミーテキストダミーテキストダミーテキスト</li>
    </ul>

    <p>任意でイベントリマインダーがご設定いただけます。<br>お届けのイベント名、対象日、リマインダー日を自由に設定できますので毎年決まった時期に贈り物を考えている方、備忘用としてもご利用ください。</p>
    <ul class="attention">
      <li>イベントリマインダーのご登録だけではご注文ができかねますのでリマインダーを確認されましたらお客様ご自身にてご注文ください。</li>
      <li>リマインドメールはご登録のメールアドレスへお送りいたします。</li>
    </ul>
    
    <div class="my__dl my__box myreminder__mail">
      <dl>
        <dt>メールアドレス</dt>
        <dd>{{ customer.email }}</dd>
      </dl>
    </div>
    <ul class="attention">
      <li>メールアドレスの変更は、<a href="/pages/contact" class="link">お問い合わせ</a>よりご連絡ください。</li>
    </ul>

    {% comment %}
    ----------------
    新規登録
    ----------------
    {% endcomment %}
    <div class="myplate__add">
      <div class="btns btns--default js-accordion-add myplate__addbtn">イベントリマインダーを追加する</div>
      <div class="js-accordion-cnt-add">
        <div class="form my__formbox">
        <form id="event-reminder-form" autocomplete="off" class="mall-summary__form">
          <input type="hidden" name="id" value="">
          <input
            type="hidden"
            name="user_key"
            id="user_key"
            value="{{ customer.metafields.custom.user_key.value }}"
          >
        <fieldset class="form__box form__select">
          <legend class="form__title">イベント名</legend>
          <div class="form__selectbox">
            <select name="admin_event_reminder_id" id="admin_event_reminder_id" required>
              <option value="" selected>選択してください</option>
            </select>
          </div>
        </fieldset>

        {% comment %}
          大智へ（佐々木より）
          <div id="event_date_display"> 父の日とかで日付変えられない時ようのかと思って、
          そのデザインを当てちゃいました〜違ってたらおお声掛けください〜
        {% endcomment %}
        <fieldset class="form__box form__text">
          <legend class="form__title">イベント対象日</legend>
          <div id="event_date_display" class="myreminder__setday"></div>
          <div id="event_date_month_day" hidden>
            <div class="form__selectbox">
              <select id="event_date_month" name="event_date_month" >
                <option value="">月を選択</option>
              </select>
            </div>
              月
            <div class="form__selectbox">
              <select id="event_date_day" name="event_date_day">
                <option value="">日を選択</option>
              </select>
            </div>
              日
          </div>
          {% comment %}
          大智へ（佐々木より）
          この下のul 父の日とか固定日付の時に、追加説明のテキストを管理画面で設定して
          それを表示したいっていう件用のHTMLです
          {% endcomment %}
          <ul class="attention" style="display: none;">
            <li>父の日は、◯日〜◯日配送になります</li>
          </ul>
        </fieldset>

        <fieldset class="form__box form__select">
          <legend class="form__title">リマインダー日</legend>
          <div class="form__selectbox">
            <select name="event_date_before" class="event_date_before${reminder.id}">
              <option value="20">20日前</option>
              <option value="15">15日前</option>
              <option value="10">10日前</option>
              <option value="7">7日前</option>
              <option value="5">5日前</option>
              <option value="3">3日前</option>
            </select>
          </div>
          <ul class="attention">
            <li>リマインダー日の18:00にメールが届きます。</li>
          </ul>
        </fieldset>

        <fieldset class="form__box form__textarea">
          <legend class="form__title">備考</legend>
          <textarea id="remark" name="remark"></textarea>
          <ul class="attention">
            <li>リマインダーメールには表示されません。</li>
          </ul>
        </fieldset>

         <div class="my__formbox__btnbox">
           <button type="submit" class="btns btns--default">追加</button>
           <button type="button" class="btns btns--outline js-accordion-close-add">キャンセル</button>
         </div>
        </form>
      </div>
      </div>
    </div> 

    {% comment %}
    ----------------
     開発用
    ----------------
    {% endcomment %}     
    <div class="my-plate__box">
      <p class="right">8件(最大30件まで)</p>
      <ul class="my-plate__list" id="reminder-list-body">
      </ul>
    </div>

    {% comment %}
    ----------------
     大智へ（佐々木より）
    開発用を下記に差し替えて欲しいです。お手数おかけして申し訳ない・・・
    ----------------
    {% endcomment %} 
    <p class="my__num">8件(最大30件まで)</p>
    <ul class="reset--list my__list">
      <li>
        <div class="myreminder__listbox">
          <div class="my__dl">
            <dl>
              <dt>イベント名</dt>
              <dd>クリスマス</dd>
            </dl>

            <dl>
              <dt>イベント対象日</dt>
              <dd>12月25日</dd>
            </dl>

            <dl>
              <dt>リマインダー日</dt>
              <dd>7日前</dd>
            </dl>

            <dl>
              <dt>備考</dt>
              <dd></dd>
            </dl>
          </div>
          <div class="my__listbtn">
            <div class="btns btns--default js-accordion">編集</div>
            <button type="button" class="btns btns--outline">削除</button>
          </div>
        </div><!-- ./myreminder__listbox -->

        <div class="js-accordion-cnt">
          <div class="form my__formbox">
            <form>
              <p>＜form＞の中身は「イベントリマインダーを追加する」と同じで大丈夫です〜</p>
              <div class="my__formbox__btnbox">
               <button type="submit" class="btns btns--default">変更</button>
               <button type="button" class="btns btns--outline js-accordion-close">キャンセル</button>
             </div>
            </form>
          </div>
        </div><!-- ./js-accordion-cnt -->
      </li>

      <li>
        <div class="myreminder__listbox">
          <div class="my__dl">
            <dl>
              <dt>イベント名</dt>
              <dd>父の日</dd>
            </dl>

            <dl>
              <dt>イベント対象日</dt>
              <dd>6月の第3日曜日</dd>
            </dl>

            <dl>
              <dt>リマインダー日</dt>
              <dd>20日前</dd>
            </dl>

            <dl>
              <dt>備考</dt>
              <dd>父の日</dd>
            </dl>
          </div>
          <div class="my__listbtn">
            <div class="btns btns--default js-accordion">編集</div>
            <button type="button" class="btns btns--outline">削除</button>
          </div>
        </div><!-- ./myreminder__listbox -->

        <div class="js-accordion-cnt">
          <div class="form my__formbox">
            <form>
              <p>＜form＞の中身は「イベントリマインダーを追加する」と同じで大丈夫です〜</p>
              <div class="my__formbox__btnbox">
               <button type="submit" class="btns btns--default">変更</button>
               <button type="button" class="btns btns--outline js-accordion-close">キャンセル</button>
             </div>
            </form>
          </div>
        </div><!-- ./js-accordion-cnt -->
      </li>
    </ul>
  
  </div>
</div>

{% style %}
/* アコーディオン */
.js-accordion-cnt, .js-accordion-cnt-add {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease-out;
  /* display:none; */
}
{% endstyle %}


{% javascript %}
// アコーディオン - 新規登録
document.addEventListener("DOMContentLoaded", function () {
  const content = document.querySelector('.js-accordion-cnt-add');
  
  document.querySelector('.js-accordion-add').addEventListener('click', function () {  
    if (content.style.maxHeight) {
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
  
  // アコーディオンを閉じる処理
  document.querySelector('.js-accordion-close-add').addEventListener('click', function () {
    if (content) {
      content.style.maxHeight = null;
    }
  });
});

//--- アコーディオン - リスト
document.addEventListener("DOMContentLoaded", function () {
  const accordionButtons = document.querySelectorAll(".js-accordion");
  const closeButtons = document.querySelectorAll('.js-accordion-close');

  accordionButtons.forEach(button => {
    button.addEventListener("click", function () {
      const accordionContent = this.closest(".myreminder__listbox").nextElementSibling;

      if (accordionContent) {
        if (accordionContent.style.maxHeight) {
          accordionContent.style.maxHeight = null;
        } else {
          accordionContent.style.maxHeight = accordionContent.scrollHeight + "px";
        }
      }
    });
  });
  // アコーディオンを閉じる処理
  closeButtons.forEach(button => {
    button.addEventListener('click', function () {
      const content = this.closest('li').querySelector('.js-accordion-cnt');
      if (content) {
        content.style.maxHeight = null;
      }
    });
  });
});
{% endjavascript %}

{% schema %}
{
  "name": "立札情報",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}