{% comment %}
  【サイドバー】大口ご注文相談窓口

  {%- if customer -%}
  {% for tag in customer.tags %}
    {% if tag ==  %}
{% endcomment %}

{%- if customer -%}
  ⭐️ログイン中⭐️<br>
  ステータス：
    {% if customer.tags == settings.customer_tag_msad %}
      MS&AD
    {% elsif customer.tags == settings.customer_tag_default %}
      一般会員
    {% elsif customer.tags contains settings.customer_tag_msad and settings.customer_tag_default %}
      MS&AD(一般会員も所持)
    {% else %}
    タグなし
  {% endif %}
{% else %}
  ⭐️未ログイン⭐️
{% endif %}


{% if customer.tags contains settings.customer_tag_msad %}
{% else %}
  <a class="btns btns--default btns--arrow sidebar__btn" href="/">
    <img src="//xn-56jc3z356jw08a6wb57lcrbm81gq1r.myshopify.com/cdn/shop/t/2/assets/icon-largedelivery.svg">大口ご注文<br>ご相談窓口
  </a>
{% endif %}

{% schema %}
{
  "name": "大口ご注文ご相談窓口",
  "class": "sidebar__btnarea",
  "disabled_on": {
    "groups": ["header","footer","aside"]
  },
  "presets": [
    {
      "name": "大口ご注文ご相談窓口"
    }
  ]
}
{% endschema %}