@charset "utf-8";
@font-face {
    font-family: "Zen Kaku Gothic New"; 
    src: url(https://cdn.shopify.com/s/files/1/0724/3035/4681/files/ZenKakuGothicNew-Medium.woff?v=1734946328) format("woff");
    font-display: swap;
    font-weight: 500;
}

/*+++++++++++++++++++++++++++++++++++++++++
  　reset
*+++++++++++++++++++++++++++++++++++++++++*/
.reset--list {
  margin: 0;
  padding: 0;
}
.reset--list > li {
  list-style: none;
}

/*+++++++++++++++++++++++++++++++++++++++++
  　root
*+++++++++++++++++++++++++++++++++++++++++*/
:root {
  --c-main: #7F552A;
  --c-sub: #FAF7F4;

  --c-white: #ffffff;
  --c-black: #403225;
  --c-black--light: #9F9891;
  --c-gray: #D6D6D6;
  --c-gray--light: #F4F4F4;
  --c-red:#FF0000;
  --c-red--light:#FCEFEF;
  --c-green: #009100;
  
  --c-line--black: #D6D6D6;
  --c-line--01: #7F552A;
  --c-line--02: #D8CBBE;

  --c-label: #552A7F;

  --fw-b: 700;
  --fw-m: 500;
  --fw-r: 400;

  --ff: Zen Kaku Gothic New,sans-serif!important;

  --box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);

  --opacity: 0.7;
}

/*+++++++++++++++++++++++++++++++++++++++++
  　base
*+++++++++++++++++++++++++++++++++++++++++*/
* {
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: var(--c-black);
  font-weight: var(--fw-r);
  background-color: var(--c-white);
  font-family: var(--ff);
}

main {
}

.wrapper {
  margin: 120px auto 0;
  padding: 0 20px;
  max-width: 1240px;  
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  flex-shrink: 0;
}
@media (min-width: 76ppx){
  .sp {
    display: none;
  }
}

@media (max-width: 768px){
  body {
    font-size: 14px;
  }
  .sp__inner {
    margin-left: auto!important;
    margin-right: auto!important;
    max-width: 600px;
  }
  .wrapper {
    margin-top: 75px;
    padding: 0 15px;
  }

  .pc {
    display: none;
  }
}


/*+++++++++++++++++++++++++++++++++++++++++
  　ボタン
*+++++++++++++++++++++++++++++++++++++++++*/
.btns {
  padding: 12px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--c-main);
  background-color: var(--c-white);
  font-size: 16px;
  font-weight: var(--fw-b);
  position: relative;
  text-decoration: none;
  cursor: pointer;
}
.btns--default {
  background: var(--c-main);
  color: var(--c-white);
}
.btns--outline {
  color: var(--c-main);
}
.btns--arrow::after {
  content: "";
  width: 10px;
  height: 6px;
  background-image: url(//xn-56jc3z356jw08a6wb57lcrbm81gq1r.myshopify.com/cdn/shop/t/2/assets/icon-arrow-bottom-w.svg?v=111854867857123771931733995455);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 50px;
  top: calc(50% - 3px);
  transform: rotate(-90deg);
}
.btns--arrow.btns--outline::after {
  background-image: url(//xn-56jc3z356jw08a6wb57lcrbm81gq1r.myshopify.com/cdn/shop/t/2/assets/icon-arrow-bottom-be.svg?v=4491021111501597511735184692);
}
.btns--arrow--bottom::after {
  transform: rotate(0);
}
.btns--back::after {
  transform: rotate(90deg);
  right: auto;
  left: 50px;
}
.btns--arrow.open:after {
  transform: scaleY(-1);
}

.btns--icon::before {
  content: "";
  display: block;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

.btns:hover {
  opacity: var(--opacity);
}

@media (max-width: 768px) {
  .btns {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
  }
  .btns--arrow::after {
    right: 20px;
  }
  .btns--back::after {
    right: auto;
    left: 20px;
  }
  .btns--icon {
    justify-content: flex-start;
    padding-left: 20px;
  }
  .btns--icon::before {
    margin-right: 10px;
  }
}
  


/*+++++++++++++++++++++++++++++++++++++++++
  　見出し
*+++++++++++++++++++++++++++++++++++++++++*/
/* ---- ページ 見出し ---- */
.headtitle {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headtitle__en, .headtitle__title {
  margin: 0;
  font-weight: var(--fw-r);
  color: var(--c-main);
}
.headtitle__en {
  font-size: 40px;
}
.headtitle__title {
  font-size: 16px;
}
@media (max-width: 768px) {
  .headtitle__en {
    font-size: 22px;
  }
  .headtitle__title {
    font-size: 12px;
  }
}


/* ---- ---- */
.title--01 {
  margin-bottom: 3px;
  padding: 15px 5px;
  width: 100%;
  background-color: var(--c-sub);
  border-bottom: 1px solid var(--c-main);
  font-size: 22px;
  font-weight: var(--fw-m);
  color: var(--c-main);
  position: relative;
}
.title--01::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--c-line--02);
  position: absolute;
  bottom: -3px;
  left: 0;
}
@media (max-width: 768px) {
  .title--01 {
    padding: 10px 5px;
    font-size: 16px;
  }
}
  


/*+++++++++++++++++++++++++++++++++++++++++
  　共通パーツ
*+++++++++++++++++++++++++++++++++++++++++*/
/* -- ※のリスト -- */
.attention {
  margin: 0;
  padding: 0;
}
.attention > li {
  list-style: none;
  padding-left: 18px;
  position: relative;
  font-size: 13px;
}
.attention > li.red {
  color: var(--c-red);
}
.attention > li::before {
  content: "※";
  position: absolute;
  top: 0;
  left: 0;
}

/* -- 区切り線 -- */
hr {
  margin: 30px 0;
  background-color: var(--c-line--black);
}

/* -- テキストリンクアイコン -- */
/* -- <a class="textlink">XXXX</a> --*/
.textlink {
  margin-left: 19px;
  font-size: 13px;
  font-weight: var(--fw-b);
  color: var(--c-main);
  position: relative;
}
.textlink::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background-image: url(//xn-56jc3z356jw08a6wb57lcrbm81gq1r.myshopify.com/cdn/shop/t/2/assets/icon-question.svg?v=62664605750315830031734659660);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: calc(50% - 7px);
  left: -19px;
}
.textlink:hover {
  opacity: var(--opacity);
}

/* -- テキストリンク -- */
.link {
  font-weight: var(--fw-b);
  color: var(--c-main);
  text-underline-offset: 3px;
}
.link:hover {
  opacity: var(--opacity);
}
  


/*+++++++++++++++++++++++++++++++++++++++++
  　header
*+++++++++++++++++++++++++++++++++++++++++*/


/*+++++++++++++++++++++++++++++++++++++++++
  　sidebar
*+++++++++++++++++++++++++++++++++++++++++*/
:where(.sidebar) p {
  margin: 0;
}
:where(.sidebar) a {
  text-decoration: none;
}
:where(.sidebar) ul {
  margin: 0;
  padding: 0;
}
:where(.sidebar) li {
  list-style: none;
}
/* ----- 大口ご注文ご相談窓口 ----- */
.sidebar__btn {
  padding: 10px 20px;
  justify-content: flex-start;
  gap: 8px;
  font-size: 14px;
  line-height: 1.3;
}
.sidebar__btn::after {
  right: 20px;
}

/* ----- バナー ----- */
.sidebar__banner__list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar__banner__list img {
  width: 100%;
  aspect-ratio: 1 / 0.75;
  object-fit: cover;
}
.sidebar__banner__list a:hover {
  opacity: var(--opacity);
}

/* ----- 〇〇から探す ----- */
.sidebar__menu {
  margin-top: 24px;
  padding: 20px 15px;
  border: 1px solid var(--c-main);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar__menu__title {
  padding-bottom: 8px;
  border-bottom: 1px solid var(--c-line--black);
  font-size: 16px;
  font-weight: var(--fw-m);
}
.sidebar__menu__list {
  margin-top: 3px;
  display: flex;
  flex-direction: column;
}
.sidebar__menu__list li a {
  padding: 6px 24px;
  padding-right: 0;
  display: block;
  position: relative;
  color: var(--c-black);
}
.sidebar__menu__list li a:before {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--c-main);
  position: absolute;
  top: calc(50% - 2px);
  left: 10px;
}
.sidebar__menu__list li a:hover {
  color: var(--c-main);
}
  

/* ----- 営業日カレンダー ----- */
.sidebar__calendar__title {
  margin-top: 25px;
  font-size: 18px;
  font-weight: var(--fw-b);
  color: var(--c-main);
}
.sidebar__calendar__box {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}
.sidebar__calendar__cal {
  padding: 20px 17px;
  border: 1px solid var(--c-main);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar__calendar__cal::before {
  content: "";
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  border: 1px solid var(--c-line--02);
  position: absolute;
  top: 5px;
  left: 5px;
}

/* カレンダー */
.flatpickr-calendar, .flatpickr-days, .dayContainer {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
}
.flatpickr-calendar {
  box-shadow: none;
  pointer-events: none;
}
.flatpickr-months .flatpickr-month {
  height: 30px;
}
.flatpickr-current-month {
  padding: 0;
  margin-left: -5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  height: fit-content;
}
.flatpickr-current-month .numInputWrapper {
  width: fit-content;
  display: flex;
  justify-content: center;
  order: 1;
}
.flatpickr-current-month :is(input.cur-year, .year-label) {
  padding: 0;
  font-size: 13px!important;
  font-weight: var(--fw-m);
  color: var(--c-main)!important;
  text-align: end;
}
.flatpickr-current-month input.cur-year {
  margin-bottom: -2px;
}
.flatpickr-current-month .year-label {
  margin-right: 4px;
  order: 2;
}
.flatpickr-current-month span.cur-month {
  margin: 0;
  font-size: 16px;
  font-weight: var(--fw-b);
  color: var(--c-main);
  order: 3;
}
.flatpickr-current-month :is(.arrowUp, .arrowDown) {
  display: none;
}
.flatpickr-weekdays {
  margin-bottom: 6px;
  height: fit-content;
}
.flatpickr-weekdays .flatpickr-weekdaycontainer {
  gap: 3px;
}
span.flatpickr-weekday {
  font-size: 13px;
  font-weight: var(--fw-m);
  color: var(--c-black);
}
.dayContainer {
  row-gap: 4px;
}
.flatpickr-day {
  padding-left: 1px;
  padding-bottom: 1px;
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: grid;
  place-items: center;
  -webkit-flex-basis: 21px;
  flex-basis: 21px;
  border: 0;
  border-radius: 50%;
  font-size: 13px;
  font-weight: var(--fw-m);
  color: var(--c-black);
  line-height: 1.0;
  aspect-ratio: 1 / 1; 
}

/* 過ぎている日 & 前後月 */
.flatpickr-day.flatpickr-disabled {
  color: var(--c-black--light);
}
/* 今日 */
.flatpickr-day.today {
  border: 1px solid var(--c-main);
  background-color: var(--c-sub);
  color: var(--c-main);
}
.flatpickr-day.business-holiday {
  border: 1px solid var(--c-main);
  background: var(--c-main);
  color: var(--c-white);
}


/* カレンダーのルール */
.sidebar__calendar__cal--rule {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 10px;
}
.sidebar__calendar__cal--rule li {
  padding-left: 14px;
  position: relative;
}
.sidebar__calendar__cal--rule li::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid var(--c-main);
  position: absolute;
  top: 3px;
  left: 0;
}
.sidebar__calendar__cal--rule li.today::before {
  background: var(--c-sub);
}
.sidebar__calendar__cal--rule li.current::before {
  background: var(--c-main);
}


@media (min-width: 990px){
  .sidebar__calendar {
    margin-top: 70px;
    padding-top: 3px;
    border-top: 1px solid var(--c-main);
    position: relative;
  }
  .sidebar__calendar::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--c-line--02);
    position: absolute;
    top: 2px;
    left: 0;
  }
  .sidebar__calendar__title {
    margin-top: 25px;
  }
  .sidebar__calendar__cnt {
    font-size: 13px;
  }
}
@media (max-width: 989px){
  .sidebar__calendar__box {
    margin-top: 24px;
  }
  .sidebar__calendar__cnt {
    order: 1;
  }
  .sidebar__calendar__cal {
    padding: 28px 43px;
    gap: 40px;
    order: 2;
  }
  .sidebar__calendar__cal::before {
    width: calc(100% - 14px);
    height: calc(100% - 14px);
    top: 7px;
    left: 7px;
  }

  /* カレンダー */
  .flatpickr-calendar:before, .flatpickr-calendar:after {
    content: none;
  }
  .flatpickr-current-month {
    gap: 6px;
  }
  .flatpickr-months .flatpickr-month {
    margin-bottom: 20px;
  }
  .flatpickr-current-month input.cur-year {
    font-size: 13px!important;
  }
  .flatpickr-current-month span.cur-month {
    font-size: 18px;
  }
  .flatpickr-weekdays {
    margin-bottom: 20px;
  }
  .flatpickr-weekdays .flatpickr-weekdaycontainer {
    gap: 8px;
  }
  span.flatpickr-weekday {
    font-size: 13px;
  }
  .dayContainer {
    gap: 8px;
  }
  .flatpickr-day {
    font-size: 13px;
    -webkit-flex-basis: calc((100% - 48px) / 7);
    flex-basis: calc((100% - 48px) / 7);
  }

  /* カレンダーのルール */
  .sidebar__calendar__cal--rule {
    gap: 24px;
    font-size: 13px;
  }
  .sidebar__calendar__cal--rule li {
    padding-left: 22px;
  }
  .sidebar__calendar__cal--rule li::before {
    width: 16px;
    height: 16px;
  }
}




/* ----- SP ----- */
@media (max-width: 989px){
  .sidebar__btnarea, .sidebar__menu
  {
    display: none;
  }

  .wrapper__twogrid .sidebar {
    display: flex;
    flex-direction: column-reverse;
    gap: 100px;
  }
  .sidebar__calendar {
    order: 1;
  }
  .sidebar__banner{
    order: 2;
  }

}
/*+++++++++++++++++++++++++++++++++++++++++
  　footer
*+++++++++++++++++++++++++++++++++++++++++*/



/*+++++++++++++++++++++++++++++++++++++++++
  　フォーム
*+++++++++++++++++++++++++++++++++++++++++*/
/* ---- レイアウト ---- */
.form__inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 423px;
}

.form__two .form__box {
  margin-top: 20px;
}

.form .mt-l  { margin-top: 30px; }
.form .mt-m  { margin-top: 20px; }
.form .mt-s  { margin-top: 15px; }
.form .mt-ss { margin-top: 10px; }

/* ---- フォーム共通 ---- */
.form__box {
  padding: 0;
  margin: 0;
  border: none;
  color: var(--c-black);
}
.form__box:nth-of-type(n+2) {
  margin-top: 20px;
}
.form__title {
  margin-bottom: 5px;
  padding: 0;
  font-weight: var(--fw-m);
}
.form__title > span {
  margin-left: 5px;
  width: 34px;
  height: 20px;
  display: inline-flex;
  place-items: center;
  justify-content: center;
  background: #FF4C4C;
  font-size: 13px;
  font-weight: var(--fw-b);
  color: var(--c-white);
}

:where(.form__box) :is(input, textarea, select) {
  padding: 10px;
  width: 100%;
  max-width: 100%;
  border: 1px solid var(--c-line--black);
  background-color: var(--c-white);
  border-radius: 3px;
  font-family: var(--ff);
  font-size: 16px;
  color: var(--c-black);
}
:where(.form__box) :is(input, textarea, select):focus-visible {
  outline: none;
  box-shadow: none;
}

/* ラジオボタン */
.form__radio__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.form__radio__box label {
  padding: 24px 8px;
  display: grid;
  place-items: center;
  position: relative;
  min-height: 200px;
  border: 1px solid var(--c-line--black);
  border-radius: 3px;
  background-color: var(--c-white);
  text-align: center;
  cursor: pointer;
}
.form__radio__box label:has(:checked) {
  border-color: var(--c-main);
  background-color: var(--c-sub);
}
.form__radio__box label::before {
  content: '';
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 1px solid var(--c-line--black);
  position: absolute;
  top: 8px;
  left: 8px;
}
.form__radio__box label:has(:checked)::before {
  border-color: var(--c-main);
}
.form__radio__box label:has(:checked)::after {
  content: '';
  border-radius: 50%;
  position: absolute;
  top: 12px;
  left: 12px;
  width: 8px;
  height: 8px;
  background-color: var(--c-main);
}
.form__radio__box input {
  display: none;
}
.form__radio__content {
  margin-top: 5px;
  font-size: 14px;
  font-weight: var(--fw-b);
  color: var(--c-black);
}
.form__radio--img {
  max-height: 100px;
}

/* テキスト */
.form__text input {
  padding: 10px;
}

/* テキストエリア */
.form__textarea textarea {
  height: 140px;
}

/* セレクトボックス */
.form__selectbox {
  display: inline-flex;
  align-items: center;
  position: relative;
  min-width: 150px;
}
.form__selectbox::after {
  content: '';
  pointer-events: none;
  width: 10px;
  height: 5px;
  background-image: url(//xn-56jc3z356jw08a6wb57lcrbm81gq1r.myshopify.com/cdn/shop/t/2/assets/icon-arrow-bottom-b.svg?v=37034969034435122361734599969);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: calc(50% - 2px);
  right: 15px;
}
.form__selectbox select {
  appearance: none;
  padding-right: 40px;
  width: fit-content;
  min-width: 150px;
  cursor: pointer;
}

/* チェックボックス */
.form__check label {
  cursor: pointer;
  font-weight: var(--fw-m);
}
.form__check input {
  margin: 0;
  margin-right: 5px;
  padding: 0!important;
  appearance: none;
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  top: 2px;
  cursor: pointer;
}

.form__check input:checked::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 2px;
  width: 10px;
  height: 7px;
  background-image: url(//xn-56jc3z356jw08a6wb57lcrbm81gq1r.myshopify.com/cdn/shop/t/2/assets/icon-check-brown.svg?v=150185463702714324211734925370);
  background-repeat: no-repeat;
  background-size: contain;
}

/* 郵便番号 */
.form__zip {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  gap: 20px;
  position: relative;
  width: fit-content;
}
.form__zip::before {
  content: "";
  width: 10px;
  height: 1px;
  background-color: var(--c-black);
  position: absolute;
  top: 50%;
  left: 105px;
}

/* 電話番号 / FAX番号 */
.form__tel {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 20px;
  position: relative;
  width: fit-content;
}
.form__tel::before, .form__tel::after {
  content: "";
  width: 10px;
  height: 1px;
  background-color: var(--c-black);
  position: absolute;
  top: 50%;
}
.form__tel::before {
  left: 105px;
}
.form__tel::after {
  left: 225px;
}

/* 送信ボタン */
.form__btn {
  margin: 60px auto 0;
  max-width: 320px;
}

/* エラー */
.form__box :is(input, textarea, select).form__box__error {
  border-color: var(--c-red);
} 
.form__box__errorbox, .form__box__successbox {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px 20px 15px 55px;
  text-align: left;
  font-size: 14px;
  font-weight: var(--fw-b);
  position: relative;
}
:is(.form__box__errorbox, .form__box__successbox):before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: calc(50% - 12px);
  left: 20px;
}
.form__box__errorbox {
  background: var(--c-red--light);
  color: var(--c-red);
}
.form__box__errorbox:before {
  background-image: url(//xn-56jc3z356jw08a6wb57lcrbm81gq1r.myshopify.com/cdn/shop/t/2/assets/icon-attention.svg?v=92044588944675289371734592765);
}
.form__box__errorbox a {
  color: var(--c-red);
}
.form__box__errorbox a:hover {
  color: var(--c-red);
  opacity: var(--opacity);
}
.form__box__successbox {
  background: var(--c-green);
  color: var(--c-white);
}
.form__box__successbox:before {
  background-image: url(//xn-56jc3z356jw08a6wb57lcrbm81gq1r.myshopify.com/cdn/shop/t/2/assets/icon-success.svg?v=79435840518081560281734662114);
}

.form__box__errortext {
  margin-top: 5px!important;
  padding: 5px;
  background: var(--c-red--light);
  font-size: 13px;
  font-weight: var(--fw-m);
  color: var(--c-red);
}

/* ---- ※のテキスト ---- */
.form__box .attention {
  margin-top: 5px;
}

/* ---- ボタン上のテキスト ---- */
.form__lasttext {
  margin: 40px auto 0;
  text-align: center;
  font-size: 14px;
}
.form__lasttext a {
  color: var(--c-main);
  text-underline-offset: 3px;
}
.form__lasttext a:hover {
  opacity: var(--opacity);
}

@media (min-width: 769px) {
  /* ---- レイアウト ---- */
  .form__two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (max-width: 768px) {
  /* ---- レイアウト ---- */
  .form__two .form__box {
    margin-top: 25px;
  }
  
  /* ---- フォーム共通 ---- */
  .form__box:nth-of-type(n+2) {
    margin-top: 25px;
  }
  .form__title {
    margin-bottom: 5px;
    font-weight: var(--fw-m);
  }
  .form__title > span {
    width: 32px;
    height: 18px;
    font-size: 12px;
  }
  
  :where(.form__box) :is(input, textarea, select) {
    padding: 12px 10px;
  }

  /* ラジオボタン */
  .form__radio__box {
    display: flex;
    overflow-x: auto;
  }
  .form__radio__box label {
    width: 144px;
    flex-shrink: 0;
  }
  /* 送信ボタン */
  .form__btn {
    margin-top: 40px;
  }
}
  

