:where(.account) a {
  color: var(--c-black);
}
.account {
  padding: 0!important;
}

/* ----------------------------------------
  　旧システムをご利用の皆さまへ
---------------------------------------- */
.account__systeminfo {
  margin-bottom: 40px;
  padding: 15px 20px;
  background-color: var(--c-sub);
  color: var(--c-main);
}
.account__systeminfo__title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: var(--fw-b);
  color: var(--c-main);
}
.account__systeminfo p {
  margin: 0;
  font-size: 13px;
}
@media (max-width: 768px) {
  .account__systeminfo {
    margin-bottom: 30px;
    padding: 15px;
  }
  .account__systeminfo__title {
    margin-bottom: 10px;
    font-size: 14px;
  }
}

/*+++++++++++++++++++++++++++++++++++++++++
  　ログイン
*+++++++++++++++++++++++++++++++++++++++++*/

/*+++++++++++++++++++++++++++++++++++++++++
  　新規会員登録
*+++++++++++++++++++++++++++++++++++++++++*/





/*+++++++++++++++++++++++++++++++++++++++++
  　パスワードを忘れた方へ
*+++++++++++++++++++++++++++++++++++++++++*/


/*+++++++++++++++++++++++++++++++++++++++++
  　マイページ：共通
*+++++++++++++++++++++++++++++++++++++++++*/
/* ---- 上部 ----- */
.mp__top {
  margin-top: 0!important;
  display: flex;
  justify-content: space-between;   
  gap: 20px;
}
.mp__top__name, .mp__top__logout {
  padding-left: 30px;
  line-height: 23px;
  position: relative;
}
.mp__top__name::before, .mp__top__logout::before {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
} 
.mp__top__name::before {
  background-image: url(//xn-56jc3z356jw08a6wb57lcrbm81gq1r.myshopify.com/cdn/shop/t/2/assets/icon-account.svg?v=137472275414516057571734601476);
}
.mp__top__logout {
  color: var(--c-main);
  text-underline-offset: 3px;
  white-space: nowrap;
}
.mp__top__logout::before {
  background-image: url(//xn-56jc3z356jw08a6wb57lcrbm81gq1r.myshopify.com/cdn/shop/t/2/assets/icon-logout.svg?v=38036176560074296641734672972);
} 
    
.mp__topbtn {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.mp__topbtn--back {
  padding: 8px 0;
  padding-left: 18px;
  max-width: 212px;
  font-size: 14px;
}
.mp__topbtn--back::after {
  width: 14px;
  height: 8px;
  top: calc(50% - 4px);
  left: 14px;
}
.mp__topbtn--changepass {
  padding: 7px 0;
  max-width: 162px;
}

/* ---- 見出し ----- */
.mp__title {
  margin-top: 0;
  margin-bottom: 3px;
  padding-bottom: 21px;
  text-align: center;
  font-size: 22px;
  font-weight: var(--fw-b);
  color: var(--c-main);
  border-bottom: 1px solid var(--c-main);
  position: relative;
}
.mp__title::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--c-line--02);
  position: absolute;
  bottom: -4px;
  left: 0;
}
@media screen and (max-width: 768px) {  
  .mp__topbtn {
    flex-direction: column;
  }
  .mp__topbtn .btns {
    margin-left: 0;
  }
  .mp__topbtn--changepass {
    padding: 7px 0;
    font-size: 14px;
  }
    
  /* ---- 見出し ----- */
  .mp__title {
    padding-bottom: 10px;
    font-size: 18px;
  }
}

/* ---- リスト ---- */
.my__list {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.my__list > li, .my__box {
  padding: 20px;
  background-color: var(--c-sub);
  border: 1px solid var(--c-main);
  position: relative;
}
.my__list > li:nth-of-type(n+2)::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--c-line--black);
  position: absolute;
  top: -50px;
  left: 0;
}

.my__num {
  margin-top: 50px;
  font-size: 13px;
  text-align: right;
}
.my__listbtn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
  width: 100%;
}
.my__listbtn .btns {
  width: 102px;
}

.my__dl {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.my__dl dl {
  margin: 0;
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 20px;
}
.my__dl dt {
  font-weight: var(--fw-b);
}
.my__dl dd {
  margin-left: 0;
  display: flex;
  align-items: center;
}

.my__formbox {
  margin-left: auto;
  margin-right: auto;
  padding: 25px 20px;
  max-width: 480px;
  background-color: var(--c-white);
  border: 1px solid var(--c-line--black);
}

.my__formbox__btnbox {
  margin: 20px auto 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 380px; 
}

.js-accordion-cnt {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.8s ease-in-out;
}
@media screen and (max-width: 768px) {
  .my__list {
    gap: 60px;
  }
  .my__list > li, .my__box {
    padding: 15px;
  }
  .my__list > li:nth-of-type(n+2)::before {
    top: -30px;
  }

  .my__num {
    margin-top: 30px;
  }
  .my__listbtn {
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
  }
  .my__listbtn .btns {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .my__dl dl {
    grid-template-columns: 105px 1fr;
    gap: 15px;
  }
  
  .my__formbox {
    padding: 20px 15px;
  }
}

/*+++++++++++++++++++++++++++++++++++++++++
  　マイページ
*+++++++++++++++++++++++++++++++++++++++++*/
/* ---- レイアウト ----- */
.mp__twocolumn {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 50px;
}
/* サイドメニュー */
.mp__sidemenu {
  padding: 20px 15px;
  border: 1px solid var(--c-main);
  height: fit-content;
}
.mp__sidemenu__title {
  margin-bottom: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--c-line--black);
  font-weight: var(--fw-m);
}
.mp__sidemenu__list {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.mp__sidemenu__list li {
  padding-left: 12px;
  position: relative;
}
.mp__sidemenu__list li::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--c-main);
  position: absolute;
  top: calc(50% - 2px);
  left: 0;
}
.mp__sidemenu__list li a {
  padding: 2px;
  text-decoration: none;
}
.mp__sidemenu__list li a:hover {
  color: var(--c-main);
  font-weight: var(--fw-m);
  border-bottom: 1px solid var(--c-main);
} 
@media screen and (max-width: 768px) {
  .mp__twocolumn {
    margin-top: 30px;
    grid-template-columns: 1fr;
    gap: 100px;
  }
  /* サイドメニュー */
  .mp__sidemenu {
    order: 2;
  }
}

/* ---- 注文履歴 ---- */
.mp__ordertable {
  margin-top: 10px;
  border-collapse: collapse;
  width: 100%;
}

.mp__ordertable .td__ordernum a {
  padding: 2px;
  font-weight: var(--fw-b);
  color: var(--c-main);
}
.mp__ordertable .td__label > span {
  padding: 3px 10px;
  min-width: 70px;
  display: inline-grid;
  place-items: center;
  font-size: 13px;
  font-weight: var(--fw-b);
  background-color: var(--c-gray--light);
}
.mp__ordertable .td__label > span.fin {
  background-color: var(--c-sub);
  color: var(--c-main);
}
@media screen and (min-width: 769px) {
  .mypageTop .mp__title {
    text-align: left;
  }
  .mp__ordertable :is(th, td) {
    padding: 20px 5px;
    border-bottom: 1px solid var(--c-line--black);
  }
  .mp__ordertable .tx-l { text-align: left; }
  .mp__ordertable .tx-r { text-align: right; }
  .mp__ordertable .tx-ce { text-align: center; }
}
  
@media screen and (max-width: 768px) {
  .mp__ordertable {
    order: 1;
    margin-top: 20px;
  }
  .mp__ordertable thead {
    display: none;
  }
  .mp__ordertable tbody tr {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-bottom: 1px solid var(--c-line--black);
  }
  .mp__ordertable tbody tr:nth-of-type(n+2) {
    padding-top: 20px;
  }
  .mp__ordertable tbody td {
    padding-left: 85px;
    position: relative;
  }
  .mp__ordertable tbody td::before {
    display: block;
    position: absolute;
    top: calc(50% - 7px);
    left: 0;
    font-weight: var(--fw-b);
  }
  .mp__ordertable tbody td:nth-of-type(1)::before { content: "注文番号"; }
  .mp__ordertable tbody td:nth-of-type(2)::before { content: "注文日"; }
  .mp__ordertable tbody td:nth-of-type(3)::before { content: "支払い状況"; }
  .mp__ordertable tbody td:nth-of-type(4)::before { content: "発送状況"; }
  .mp__ordertable tbody td:nth-of-type(5)::before { content: "合計"; }
}

/*+++++++++++++++++++++++++++++++++++++++++
  　マイページ - 購入履歴詳細
*+++++++++++++++++++++++++++++++++++++++++*/

/*+++++++++++++++++++++++++++++++++++++++++
  　マイページ - アカウント情報
*+++++++++++++++++++++++++++++++++++++++++*/
.myaddress__info {
  margin-top: 50px;
}
.myaddress__info ~ .attention {
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .myaddress__info ~ .attention {
    margin-top: 15px;
  }
}

.myaddress__delivery {
  margin-top: 150px;
}
.myaddress__add {
  margin-top: 50px;
}
.myaddress__add .my__formbox {
  margin-top: 20px;
}
.myaddress__list {
  margin-top: 50px;
}
.myaddress__list .my__formbox {
  margin-top: 20px;
}
.myaddress__default {
  padding: 4px 10px;
  background-color: var(--c-label);
  width: fit-content;
  font-size: 13px;
  font-weight: var(--fw-b);
  color: var(--c-white);
}
@media screen and (max-width: 768px) {
  .myaddress__delivery {
    margin-top: 100px;
  }
  .myaddress__add {
    margin-top: 25px;
  }
  .myaddress__add .my__formbox {
    margin-top: 30px;
  }
  .myaddress__list {
    margin-top: 30px;
  }
  .myaddress__default {
    font-size: 11px;
  }
}

/*+++++++++++++++++++++++++++++++++++++++++
  　マイページ - 立札情報
*+++++++++++++++++++++++++++++++++++++++++*/
.myplate__area {
  margin-top: 50px;
}
.myplate__listbox {
  display: grid;
  grid-template-columns: 153px 1fr 250px;
  align-items: center;
  gap: 50px;
}
.myplate__label {
  padding: 4px 10px;
  min-width: 128px;
  width: fit-content;
  background-color: var(--c-white);
  border-radius: 3px;
  text-align: center;
  font-size: 13px;
  font-weight: var(--fw-b);
  color: var(--c-main);
}
.myplate__cat {
  margin-top: 10px;
  font-size: 13px;
  font-weight: var(--fw-b);
  color: var(--c-main);
}
.myplate__name {
  font-weight: var(--fw-b);
}
.myplate__cnt p {
  margin: 0;
}
.myplate__lastdate {
  margin-top: 15px;
  margin-bottom: 0;
  text-align: right;
  font-size: 13px;
}
/* ---- 編集 ----- */
.myplate__formbox {
  margin-top: 40px;
}
/* サンプル */
.form__sample {
  margin-bottom: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 20px;
  border: 1px solid var(--c-gray);
  background-color: var(--c-gray--light);
}
.form__sample.form__sample--card {
  grid-template-columns: 200px 1fr;
}
.form__sample__name {
  margin-bottom: 15px;
  font-weight: var(--fw-b);
}
.form__sample__name span {
  display: block;
  font-size: 13px;
  color: var(--c-main);
}
@media screen and (max-width: 768px) {
  .myplate__listbox {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .myplate__label {
    min-width: 120px;
    font-size: 12px;
  }
  .myplate__cat {
    font-size: 12px;
  }
  .myplate__lastdate {
    margin-top: 10px;
    text-align: left;
    font-size: 12px;
  }
  /* ---- 編集 ----- */
  .myplate__formbox {
    margin-top: 20px;
  }
  /* サンプル */
  .form__sample {
    padding: 20px 15px;
    gap: 10px;
  }
  .form__sample__name {
    margin-bottom: 120px;
  }
  .form__sample__name span {
    font-size: 12px;
  }
}

/*+++++++++++++++++++++++++++++++++++++++++
  　マイページ - イベントリマインダー
*+++++++++++++++++++++++++++++++++++++++++*/
.myreminder__area {
  margin-top: 50px;
}
/* メールアドレス */
.myreminder__mail {
  margin-top: 50px;
}
.myreminder__mail .attention {
  margin-top: 20px;
}
/* イベントリマインダーを追加する */
.myplate__add {
  margin-top: 50px;
}
.myplate__addbtn {
  margin: 0 auto;
  max-width: 380px;
}
.myplate__add .my__formbox {
  margin-top: 20px;
}

.myreminder__listbox {
  display: grid;
  grid-template-columns: 1fr 250px;
  align-items: center;
  gap: 50px;
}
.myreminder__setday {
  padding: 10px;
  width: 100%;
  max-width: 100%;
  border: 1px solid var(--c-line--black);
  background-color: var(--c-gray--light);
  border-radius: 3px;
  font-size: 16px;
  color: var(--c-black);
}

/* 十字アイコン */
.myplate__addbtn {
  position: relative;
}
.myplate__addbtn::before,
.myplate__addbtn::after {
  content: "";
  position: absolute;
  background-color: var(--c-white);
  border-radius: 1px;
  transition: transform 0.8s ease, opacity 0.3s ease;
}
.myplate__addbtn::before {
  width: 16px;
  height: 2px;
  right: 20px;
  transform: rotate(0);
}
.myplate__addbtn::after {
  width: 2px;
  height: 16px;
  right: 27px;
  transform: rotate(0);
  opacity: 1;
}
.myplate__addbtn.open::after {
  opacity: 0;
  transform: rotate(90deg);
}
@media screen and (max-width: 768px) {
  .myreminder__listbox {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}





